<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Uptime</title>
    <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/lumen/bootstrap.min.css">

</head>
<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".timeago").timeago();
        });
    </script>
</body>
</html>